@font-face {
    font-family: 'Light';
    src: url('fonts/futuralight.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

*
{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

nav {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    padding-left:150px;
    padding-right: 8px;
}

nav ul{
    list-style: none;
}

a{
    font-family: 'Light', sans-serif;
    text-decoration: none;
    color: black;
    position: relative;
}

a::after{
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -5px;
    left: 0;
}
a:hover::after {
    width: 100%; 
}

.titulo
{
    padding-bottom: 5%;
}

.text-1
{
    position: absolute;
    left: 40%;
    top: 50%;
    line-height: 20px;
    max-width: 500px;
    font-family: 'Light', sans-serif;
}

.polaroid{
    position: absolute;
    top: 40%;
    padding-left: 2%;
}